%thead
  %tr
    %th ID
    %th Title
    %th URL
    %th Got
    %th Queued
    %th LastAccesed
%tbody
  %tr
    %td all
    %td ---
    %td
      %a{href: "img_list.php"} [success]
    %td= ImageUrl.finished.count
    %td
      %a{href: "img_list.php?only=0"}= ImageUrl.queued.count
    %td ---
  = render @board_threads
