%tr
  %td {if $thread.is_finished!=0}class="err"{/if}>{$thread.id}
  %td @thread.title
  %td
    %a{href: "view.php?id={$thread.id|escape}&amp;cnt={$cnt[$thread.id].get}&amp;only=2"} [success]
    %a{href: "view.php?id={$thread.id|escape}&amp;cnt={$cnt[$thread.id].get}&amp;only=0,2"} [get?]
    %a{href: "view.php?id={$thread.id|escape}&amp;cnt={$cnt[$thread.id].get}&amp;only=0,1,2"} [all]
    %a{href: "{$thread.uri}"} [thread]
  %td {$cnt[$thread.id].get|default:0}
  %td {$cnt[$thread.id].queue|default:0}
  %td {$thread.accessed_at|escape}
