.err {
    color: #ff0000;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

input[type="text"] {
    width: 80%;
}

input[type="submit"] {
    padding: 1px 5px;
}

table {
    border-collapse: collapse;
    border: 1px solid #333333;
    width: 100%;
}

th, td {
    padding: 1px 3px;
    border-collapse: collapse;
    border: 1px solid #cccccc;
}

